
#content{
    margin: 0 auto;
    max-width: 1600px;
}

#hero {
    max-width: 100%;
    height: auto;
    /* width: 100%; */
}


#hero-img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

#hero-box {
    /* width: 100%; */
    max-width: 100%;
    height: auto;
}

#hero-msg h1{
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
    max-width: 100%;
    height: auto;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    color: wheat;
    background-color: wheat;
}

body {
    background-color: #F1F9F8;
}

header {
    background-color: #45a29e;
}

nav a {
    text-align: center;
    text-decoration: underline;
    color: white;
    text-size-adjust: auto;
}

nav a:hover{
    background-color: black;
    color: #d9c2a3;
    text-decoration: underline;

}

.book, .join {
    background-color: #45a29e;
    text-decoration: none;

}

.book:hover, .join.hover {
    background-color: #45a29e;

}

/* #background {
    background-color: #45a29e;
} */

.msg {
    background-color: #45a29e;

}

.msg h2 {
    
}

.msg p{
    
}

 footer {
    background-color: #45a29e;
    text-decoration: underline;

}

.footer a {
    text-decoration: wheat;

}

.footer h3 {

}

.home-title {

}

footer a:hover{

}

h3 {
    text-decoration: underline;
}

h4 {

}

.icon {

}