@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Roboto&family=Rock+Salt&display=swap');

#content{
    margin: 0 auto;
    max-width: 1600px;
}

#hero {
    max-width: 100%;
    height: auto;
    /* width: 100%; */
}


#hero-img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.logo {
    width: 80px;
}

#hero-box {
    /* width: 100%; */
    max-width: 100%;
    height: auto;
}

#hero-msg h1{
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
    max-width: 100%;
    height: auto;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: wheat;
}

body {
    background-color: #F1F9F8;
}

header {
    background-color: #45a29e;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: white;
    text-size-adjust: auto;
}

nav a:hover{
    background-color: black;
    color: #d9c2a3;
    text-decoration: underline;
}

.book, .join {
    text-decoration: none;
}


.book:hover, .join:hover {
    text-decoration: underline;
}

.msg {
    background-color: #45a29e;
}

.msg h2 {
    color: #000000; 
    font-family: 'rocksalt';
}

.msg p{
    color: #000000;
    font-family: rocksalt;  
}

.footer {
    background-color: #45a29e;
}

.footer a {
    text-decoration: none;
    color: #0000fa;
}

.footer a:hover {
    text-decoration: underline;
}

.footer h3 {
    text-decoration: none;
}

.home-title {

}

h3 {
    text-decoration: underline;
}

h4 {
    color: #000000;

}

.icon {
    width: 80px;
}