@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Comic+Neue:wght@700&family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Roboto&family=Rock+Salt&display=swap');
#content{
    margin: 0 auto;
    max-width: 1600px;
}

.logo {
    width: 80px;
    border-radius: 20px;
}


#logo_link {
    /* to space out content the content on page from edges or borders where it is needed */
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

main section {
    text-align: center;
    box-sizing: border-box;


}

#background {
    height: 725px;
    background-color: #006EB6;
}

.body {
    background-color: #ADADAD;
    font-family: 'Roboto';
    font-size: 22px;
    /* to remove browser default style to page */
    padding: 0;
    margin: 0;
}


header {
    background-color: rgba(197, 206, 204, 0.911);
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: #000000;
    text-size-adjust: auto;
    /* to space out content*/
    padding: 35px;
}

nav a:hover{
    color: #d9c2a3;
    text-decoration: underline;
}

.msg {
    background-color: #45a29e;
    line-height: 1.5em;
    /* to space out content the content*/
    padding: 35px;

}

.msg h2 {
    color: #000000; 
    font-family: 'Rock Salt', 'Caveat', sans-serif;
}

.msg p{
    color: #000000;
    font-size: .8em;
    /* to space out content the content*/
    padding-bottom: 15px;
}

footer {
    background-color: #ADADAD;
    /* to space out content the content*/
    padding: 25px 50px;
    /* to space out content on page beyond the borders of the elements where it is needed */
    margin-top: 200px;
    /* Using flex box for the footer */
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footer a {
    text-decoration: none;
    color: #000000;
}

.footer a:hover {
    text-decoration: underline;
}

.footer h3 {
    text-decoration: none;
    color: #000000;
    border-radius: 3px;
    padding: 1px;
    width: fit-content;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    font-family: 'Rock Salt', 'Caveat', sans-serif;
    font-size: 2em;
    /* to space out content on page beyond the borders of the elements where it is needed */
    margin-top: 10px;
}

h3 {
    text-decoration: underline;     
}

h2 {
    /* to remove browser default styling to page */
    margin: 0;
}

h4 {
    color: #000000;

}


main section img {
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {

    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }

    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

    #background {
        display: none;
    }

    footer {
        margin-top: 25px;
    }
}


  .grid_container1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    padding: 10px;

}

    .grid_item1 {
    text-align: center;
}
  
  .item1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .mySlides {
      display:none;
    }

.w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:100%}.w3-auto{max-width:1600px}

.msg2 {
    background-color: #45a29e;
    line-height: 1.5em;
    /* to space out content the content*/
    padding: 70px;
    
}

.contact_us_detes {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

.contact_us_heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    text-align: center;
    margin-top: 35px;
    font-weight: bold;
}






